#include "Versions.xcconfig"

// Can be used in scripts
IS_APPSTORE_BUILD=1

// Prevent Sparkle from being automatically linked in App Store builds
SWIFT_SKIP_AUTOLINKING_FRAMEWORKS = $(inherited) Sparkle

// Prevent excluded direct-distribution frameworks from being copied into App Store products
EXCLUDED_SOURCE_FILE_NAMES = Sparkle.framework
