//
//  DeveloperID.xcconfig
//  StatusBuddy
//
//  Created by Guilherme Rambo on 21/08/22.
//  Copyright © 2022 Guilherme Rambo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Versions.xcconfig"

OTHER_SWIFT_FLAGS=-D ENABLE_SPARKLE

CODE_SIGN_ENTITLEMENTS = StatusBuddy/StatusBuddy-DeveloperID.entitlements
